* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1D1B1B;
    font-family: 'Inter', 'sans-serif';
    color: #908B8B;
    display: flex;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-row,
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-row p, .second-row p{
    color: #908B8B;
    font-weight: 900;
    font-size: 3.5em;
}

.btn {
    margin-top: 50px;
}

.custom-button {
    background-color: rgb(188, 183, 183);
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}

.custom-button:hover {
    background-color: #1D1B1B ;
    border: 1px solid rgb(188, 183, 183);
    color: rgb(188, 183, 183);
    transform: .3s;
}





